

  @import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  margin: 0;
  font-family: "Roboto";
}

.carousel-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

  }

.carousel {
  position:fixed;
    overflow: hidden;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .carousel__featured-img {
    white-space: nowrap;
    transition: transform 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  }
  
  .carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 490px;
    width: 100%;
  }

  .carousel-item-text {
    font-size: 1.15rem;
    margin: 40px 0 40px 0;
    padding: 0 20px 0 20px;
    white-space: normal;
    color: #617d98;
  }
  
  .carousel-img {
   
    height: 100%; /* Utilisez une hauteur de 100% pour que l'image s'adapte à la hauteur du conteneur */
    object-fit: cover; /* Cette propriété spécifie comment l'image doit s'ajuster à l'intérieur de son conteneur */
    padding: 0 20px 0 20px;
    width: 100%;

  }

  .carousel-buttons {
    display: flex;
    justify-content: space-evenly;
  }
  
  .button-arrow {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .indicators {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
  }
  
  .indicator-buttons {
    border: none;
    cursor: pointer;
  }
  
  .indicators > button {
    margin: 5px;
    background: none;
  }
  
  .indicator-symbol {
    color: #26343f;
  }
  
  .indicator-symbol-active {
    color: #ffffff;
  }