.button__navbar{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    color: #C2C4C4;
    width: 100%;
    height: 40px;
}

.button__navbar:hover{
    background-color: #666666;
    color: #ffffff;
}

.logo {
    justify-content: center;
    fill: #C2C4C4;
    height: 40px;
    width: 48px;
  }
  
  .logo:hover{
    fill: #ffffff;
  }

