/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */



.container__game-list{
  display: flex;
}

.search-bar input[type=text] {
  background-color: #7d7d7d;
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.content {
  grid-area: content;
  background-color: #292726;
  padding: 20px;
}
aside {
  grid-area: sidebar;
  background-color: #231F1E;
  padding: 20px;
}

.wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns:  1fr 4fr;
  grid-template-areas: 
  "sidebar content";
}


